*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins sans-serif;
    background-color: rgb(41, 38, 38);  
   
} 
.nav-container{
  padding: 0;
  top: 0;
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin: 0;
  width: 100%; 
}
.group{
  text-align: center;
}
p{
  font-size: 1rem;
 margin-top: 3rem;
 color: rgb(107, 104, 104);
}
.zwd-container{
  font-size: 1.5rem;
  border-style: double;
  padding: 1rem;
  margin: 2rem;
 margin-top: 10rem;
}
h1{
  font-size: 1.8rem;
  margin-left: 3.2rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 2rem;
  padding: 3rem;
}
.nav-linkS{
    display: flex;
gap: 3rem;
padding: 2rem;
list-style: none;
}
.nav-links{
text-decoration: none;
color: rgb(51, 49, 49);
}
.home-container{
    display: flex; margin-left: 4rem; 
    justify-content: space-between;
    background-color: rgb(63, 61, 61);
}
.home{
  display: flex;
  justify-content: space-between;
  background-color: rgba(53, 51, 51, 0.966);
}
.dash{
  display: flex; 
  margin-left: 4rem; 
  justify-content: center;
  align-items: center;

}
.nav-link :hover{
 color: green;
}
.image-container img{
  margin-top: 10rem;
 width: 90%;
 height: 70%;
 border-radius: 2rem;
 }
 .about-container{
  display: flex;
  padding: 3rem;
  gap: 4rem;
  background-color: rgb(46, 44, 44);
}
.part-container img{
  margin-top: 4rem;
   border-radius: 1rem;
  }
  .run-container img{
    margin-top: 4rem;
    border-radius: 1rem;
  }
 .gin-container img{
  margin-top: 4rem;
  border-radius: 1rem;
}
.form{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
 }
 input{
  padding: 1rem;
 margin-top: 2rem;
 width: 100%; 
 }
 textarea{
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
 }
 .cas-container{
  padding: 1rem 4rem;
  margin-top: 2rem;
  border-radius: 2rem;
}
h:hover{
  color: blue;
}
p{
  width: 100%;
}
 @media(max-width:852px){
  .content{
    display: flex;
    flex-direction: column;
  }
  .part-container img{
    width: 100%;
  }
}
@media(max-width:730px){
  .home{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width:702px){
  .nav-linkS{
    display: none;
  }
}
@media(max-width:606px){
  .form{
   width: 100%;
  } 
} 

